/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  background-color: #D8DBD4;
  height: 100vh;
}

.page-wrapper-top {
  background-color: #049688;
  height: 15vh;
}

.container {
  max-width: 1360px;
  width: 100%;
  height: 95%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.header-top {
  height: 70px;
  width: 100%;
  background-color: #E5DDD5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
}

.avatar {
  height: 60px;
  width: 60px;
}

.avatar img {
  width: 100%;
  max-height: 100%;
  border-radius: 100%;
  padding: 5px;
}

/* typography */
body {
  font-family: 'Roboto', sans-serif;
}

.icons i {
  font-size: 23px;
  padding: 7px;
  color: #B1B1B1;
}

.search i {
  font-size: 20px;
  color: #B1B1B1;
}

.notifications i {
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  padding: 15px 12px;
  color: #8EDAFD;
}

.notifications h4 {
  font-weight: 400;
}

.notifications p a {
  font-size: 15px;
  color: #6497AE;
  font-weight: 100;
}

.search input::placeholder {
  font-size: 12px;
}

.box-contact h4, .chat h4 {
  font-weight: 500;
}

.box-contact p,  .chat .conversation p {
  color: #B1B1B1;
  font-size: 14px;
  margin-top: 5px;
}

/* mix */

.p_right_20 {
  padding-right: 20px;
}

.p_left_20 {
  padding-left: 20px;
}

.d_inline {
  display: inline-block;
}

.float_left {
  float: left;
}

.m_left_5 {
  margin-left: 5px;
}

/* sezione rubrica */

.section-wrapper-sx {
width: calc(100% / 3);
height: 100%;
float: left;
border-right: 1px solid black;
position: relative;
}

.main-section-sx {
  height: calc(100% - 70px);
}

.main-top {
  height: 120px;
  width: 100%;
  background-color: pink;
}

.notifications {
  height: 65%;
  background-color: #8EDAFD;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.search {
  height: 35%;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.search i {
  position: absolute;
  left: 43px;
}

.search input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0.5px solid lightgrey;
}

.main-contacts {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
  background-color: #fff;
}

.box-contact {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.selected {
  background-color: #E9EBEB;
}

.box-contact .avatar {
  width: 80px;
  height: 80px;
}

.contact-time {
  font-size: 12px;
  margin-left: auto;
  align-self: flex-start;
  margin-top: 20px;
  margin-right: 10px;
  color: #B1B1B1;
}

/* sezione chat */

.section-wrapper-dx {
  width: calc((100% / 3) * 2);
  height: 100%;
  background-color: yellow;
  float: left;
  position: relative;
}

.conversation {
  display: flex;
  align-items: center;
}


.chat {
 width: 100%;
 height: calc(100% - 70px);
 background-image: url(../img/mine.jpg);
 overflow-y: scroll;
 display: none;
 padding-top: 70px;
}

.main-footer {
  height: 70px;
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
}

.main-footer .icons {
  width: 100px;
  text-align: center;
}

.main-footer .text {
  width: calc(100% - 200px);
}

.main-footer input {
  height: 60px;
  width: 100%;
  border-radius: 10px;
}

/* CHAT */
.message {
  max-width: calc(100% - 200px);
  height: auto;
  margin: auto;
}

.template {
  display: none;
}

.message::after {
    content: "";
    display: table;
    clear: both;
}

.message-text {
  background-color: #fff;
  float: left;
  max-width: 80%;
  margin: 10px;
  padding: 15px 30px 20px 15px;;
  border-radius: 10px;
  position: relative;
}

.msg-option {
  position: absolute;
  right: 3px;
  bottom: 10px;
  display: none;
}

.message-text:hover .msg-option {
  display: block;
}

.message-time {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 3px;
}

.message-menu {
  position: absolute;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  width: 160px;
  line-height: 37px;
  font-size: 14px;
  bottom: -84px;
  left: 0px;
  display: none;
  z-index: 1;
}

.message-sent {
  right: 0px;
}

.message-menu ul {
  list-style: none;
}

.message-menu span {
  cursor: pointer;
}

.sent {
  background-color: #D5F9BA;
  float: right;
}

.active {
  display: block;
}
